<div id="shell-setup"> {% comment %} Start of 'shell' section. {% endcomment %}
  <p>
    To participate in a Library Carpentry workshop, <strong>you will be using
    the software described below</strong>. In addition, you will need an 
    up-to-date web browser.
  </p>
  <p>
    <strong>Note: All software has been installed in the Bank of Canada DAZ 
    environment for the purposes of the workshop. However, we encourage 
    all participants to install OpenRefine on their day-to-day environments. 
    Please refer to your email workshop invitations to find the setup 
    instructions for each lesson's required software. For assistance, please 
    contact one of the individuals listed under Contacts above.</strong>
  </p>  
</div>
