<div id="shell-setup"> {% comment %} Start of 'shell' section. {% endcomment %}
  <p>
    To participate in a Library Carpentry workshop, <strong>you will be using
    the software described below</strong>. In addition, you will need an 
    up-to-date web browser.
  </p>
  <p>
    <strong>Note: All software has been installed in the Bank of Canada DAZ 
    environment for the purposes of the workshop. However, we encourage 
    all participants to install OpenRefine on their day-to-day environments. 
    Please refer to your email workshop invitations and the instructions
    below to find the installation instructions for the software required for 
    each lesson. For assistance, please contact one of the individuals listed 
    under Contacts above.</strong>
  </p>

  <h3>The Bash Shell</h3>
    <p>
      Bash is a commonly-used shell that gives you the power to do simple tasks
      more quickly. Please find setup instructions in
      the <a href="https://https://librarycarpentry.org/lc-shell/index.html#setup">
        {% comment %} OLD URL <a href="https://librarycarpentry.org/lc-shell/setup.html">{% endcomment %}
      Terminal Setup section of the Unix Shell lesson</a>.
    </p>
</div>

<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is a tool to clean up and organize messy data. Please find instructions
    to install it and the data used in the lesson in the 
    <a href="https://librarycarpentry.org/lc-open-refine/#getting-ready">Getting Ready section of the lesson</a>.
    {% comment %}OLD URL<a href="https://librarycarpentry.org/lc-open-refine/setup.html">{% endcomment %}
  </p>
</div>

<div id="git-setup"> {% comment %} Start of 'Git' section. GitHub browser compatibility
  is given at https://help.github.com/articles/supported-browsers/{% endcomment %}
    <h3>Git</h3>
    <p>
      Git is a version control system that lets you track who made changes
      to what when and has options for easily updating a shared or public
      version of your code
      on <a href="https://github.com/">https://github.com</a>.
    </p>
    <p>
      Follow the instructions on the <a href="https://librarycarpentry.org/lc-git/index.html">lesson</a>
      {% comment %} OLD URL <a href="https://librarycarpentry.org/lc-git/setup.html">lesson</a> {% endcomment %} to
      install Git on your system.
    </p>
    <p>
      You will need an account at <a href="https://github.com/">github.com</a>
      for parts of the Git lesson. Basic GitHub accounts are free. We encourage
      you to create a GitHub account if you don't have one already.
      Please consider what personal information you'd like to reveal. For
      example, you may want to review these
      <a href="https://help.github.com/articles/keeping-your-email-address-private/">instructions
      for keeping your email address private</a> provided at GitHub. You will
      need a
      <a href="https://help.github.com/articles/supported-browsers/">supported
      web browser</a>.
    </p>

  </div>
